div{
    text-align: center;
    font-size: x-large;
}
img{
    display: block;
    margin: 0 auto;
    width: 25%;
}
button{
    width: 20px;
    height: 20px;
    border: solid black 1px;
}
.error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}